<div class="hero-unit">
  <%= image_tag 'logo.png', class: 'logo' %>
  <h1><%= @CLAHUB_CONFIG['homepage_title'] %></h1>
  <h2><%= @CLAHUB_CONFIG['homepage_subtitle'] %></h2>
  <p><%=raw @CLAHUB_CONFIG['homepage_text_html'] %></p>
  <p><a class="btn btn-primary btn-large" href="/auth/github">Sign in with GitHub to get started &raquo;</a></p>
  <% if @CLAHUB_CONFIG['homepage_display_why_cla'] %>
    <p>Or, read more about <%= link_to 'what CLAs are and why you might use one', page_path('why_cla') %>&hellip;</p>
  <% end %>
</div>


<% if @CLAHUB_CONFIG['homepage_display_howto'] %>
    <%= render partial: 'how_it_works' %>
<% end %>
