<div class="row">
  <div class="span6">



  <h3>
    My agreements:
    <%= link_to "+ Create a new agreement", "/auth/github", class: 'btn btn-primary btn-small' %>
  </h3>
  <% if @agreements.any? %>
    <ul>
      <% @agreements.each do |agreement| %>
        <li>
          <%= link_to agreement_path(agreement.user_name, agreement.repo_name) do %>
            <%= agreement.user_name %>/<%= agreement.repo_name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>You haven't created any agreements.</p>
  <% end %>



  </div>
  <div class="span6">



  <h3>Agreements I have already signed:</h3>
  <% if @signatures.any? %>
    <ul>
      <% @signatures.each do |signature| %>
        <% agreement = signature.agreement %>
        <li>
          <%= link_to agreement_path(agreement.user_name, agreement.repo_name) do %>
            <%= agreement.user_name %>/<%= agreement.repo_name %>
          <% end %>
          <span style="font-size: 0.8em">(signed@<%= signature.created_at %>)</span>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>You haven't signed any agreements.</p>
  <% end %>


  </div>
</div><!-- row -->
